customerconsumer/src/main/mule/customerconsumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="eef0c3a1-21e2-460c-a706-aa1cfbdb12f5" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9a77a2bf-0d60-447c-8d33-a81b67115c1a" >
		<db:my-sql-connection host="localhost" port="3306" user="siddhu" password="siddhu" database="customer" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="e464e2db-ea93-4cc5-b639-6e2ff5124694" >
		<db:my-sql-connection host="localhost" port="3306" user="siddhu" password="siddhu" database="customer" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="49c39c7b-3012-4c7f-bf3f-a60202506256" >
		<db:my-sql-connection host="localhost" port="3306" user="siddhu" password="siddhu" database="customer" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="19588075-72d2-4ec9-9e08-b4bbb3086597" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<flow name="customerconsumerFlow" doc:id="e962ffea-0465-4c08-b54d-7b4bf50f7792" >
		<http:listener doc:name="Listener" doc:id="e98c9a59-d7d4-47c7-82eb-999ea6a5bbdd" config-ref="HTTP_Listener_config1" path="/customerconsumer"/>
		<logger level="INFO" doc:name="Logger" doc:id="5fae4c20-928d-4d88-8daf-5e388ce1bcd9" message="#[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="649809c4-f702-4a17-8f83-1f49d862c07a" variableName="empPayload"/>
		<db:insert doc:name="Insert" doc:id="078b108f-e53f-41b8-bd2d-39ce8cc863ee" config-ref="Database_Config2">
			<db:sql >insert into customer_consumer(first_name,last_name,location,date_of_birth,phonenumber,email,Gender,Pincode,Address)
values(:first_name,:last_name,:location,:date_of_birth,:phonenumber,:email,:Gender,:Pincode,:Address)</db:sql>
			<db:input-parameters ><![CDATA[#[{
"first_name": payload.customer.First_Name,
"last_name": payload.customer.Last_Name,
"location": payload.customer.Location,
"date_of_birth": payload.customer.Date_Of_Birth,
"phonenumber": payload.customer.Phone,
"email": payload.customer.Email,
"Gender": payload.customer.Gender,
"Pincode": payload.customer.Pincode,
"Address": payload.customer.Address

}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="ebbf6e2b-0af6-4f6a-adb7-fb5b42f453dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	customerName: vars.empPayload.customer.First_Name,
	customerPhone: vars.empPayload.customer.Phone,
	customerEmail: vars.empPayload.customer.Email,
	customerDOB: vars.empPayloadcustomer.customer.Date_Of_Birth,
	customerLocation: vars.empPayload.customer.Location
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80f04290-2b1d-4209-b597-8026567ca3c0" message="Converted Payload: #[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="a91fe340-acf6-4455-95fb-a0be3074c695" config-ref="HTTP_Request_configuration" path="/test"/>
	</flow>
</mule>
